{% load crispy_forms_field %}

<div class="form-group ">
  <label for="id_avatar" class="control-label col-sm-3 text-sm-right">
                {{field.label}}
            </label>
        <div class="kv-avatar control-label col-sm-8">
          {% if field.value  %}

             <div>
               <img style="display:block" height="150" width="150" src="{{ field.value.url }}" />

             </div>
                <div style="position:absolute; top:0px; left:170px">
                  <input  type="checkbox" name="checkbox" id="id_checkbox" />
                  <label   for="id_checkbox">Remove</label>
                </div>
          {% endif %}


                <input style="margin-top:25px" type="file" name="avatar" />

                <div class="kv-avatar-hint"><small>Select file < 1500 KB and png , jpg or jpeg file only </small></div>

        </div>
    </div>
