{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="card">
      <ul class="nav nav-tabs" role="tablist">
        <li  role="presentation" class="active"><a href="#">Profile</a></li>
        {% if user.is_authenticated %}
             {% if user.profile.type == 1 or user.profile.type == 3 %}
        <li role="presentation" ><a href="/user/profile/password-change" >Password</a></li>
        {% endif %}
        {% if user.profile.type == 1 or user.profile.type == 2 %}
        <li role="presentation"><a href="/user/profile/preferences" >Preferences</a></li>
        <li role="presentation" ><a href="/user/profile/project-interests" >Projects Interested</a></li>
        {% endif %}        {% endif %}

        {% if user.is_authenticated and user.profile.type == 3 %}
        <li role="presentation"><a href="/user/profile/projects" >Projects Created</a></li>
        <li role="presentation" c><a href="/user/profile/interests" >Student Interests</a></li>

        {% endif %}

      </ul>
      <div class="tab-pane" id="profile">
       {% crispy form %}

      </div>
     </div>
   </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/compromise@latest/builds/compromise.min.js"></script>
{% endblock %}
