
                <table id="table" class="table table-bordered table-sm table-striped">
                  <thead style=" color:white" class="table-color thead-inverse">
                    <tr>
                      <th class="col-md-3">User</th>
                      <th class="col-md-9">Project</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for article in object_list %}
                    <tr>
                      <td class="col-md-3"><a href="{% url 'user:student' article.user.id %}">{{article.user.email}}</a></td>
                      <td class="col-md-9"><a href="{% url 'project:single' article.project.slug %}">{{article.project.title}}</a></td>
                    </tr>
                    {% empty %}
                       <h3 class="no-data">No Data yet.</h3>
                    {% endfor %}
                  </tbody>

                </table>
                {%  include '../../pagination.html' %}
