    <table class="table table-bordered table-sm table-striped">
                  <thead style="color:white" class="table-color thead-inverse">
                    <tr>
                      <th class="col-md-6">Name</th>
                      <th class="col-md-2">Posted At</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for article in object_list %}
                    <tr>
                      <td class="col-md-6"><a href="{% url 'project:update' article.id %}">{{article.title}}</a></td>
                      <td class="time col-md-3" data-datetime="{{article.timestamp}}">{{article.timestamp}}</td>
                    </tr>
                    {% empty %}
                       <h3 class="no-data">No Projects yet.</h3>
                    {% endfor %}
                  </tbody>

                </table>
                {%  include '../../pagination.html' %}
