  <table id="table" class="table table-bordered  table-striped">
                  <thead style="color:white" class="table-color thead-inverse ">
                    <tr >
                      <th class="w-75">Name</th>
                      <th class="w-25">Sent At</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for article in object_list %}
                    <tr >
                      <td class="w-75"><a href="{% url 'project:single' article.project.slug %}">{{article.project.title}}</a></td>
                      <td class="time w-25" data-datetime="{{article.timestamp}}">{{article.timestamp}}</td>
                    </tr>
                    {% empty %}
                      <tr>
                        <h3 class="no-data ">No Data yet.</h3>
                      </tr>
                    {% endfor %}
                  </tbody>

                </table>
                {%  include '../../pagination.html' %}
