    <table id="table" class="table table-bordered  table-striped">
                  <thead style="color:white" class="table-color thead-inverse">
                    <tr >
                      <th class="w-25">Status</th>

                      <th class="w-50">Name</th>
                      <th  class="w-25 ">Posted At</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for article in object_list %}
                    <tr >
                      {% if article.status == 2 and article.deadline < today %}
                      <td class="col-25">Deadline Passed</td>
                      {% else %}
                      <td class="col-25">{{article.status_verbose}}</td>
                      {% endif %}
                      <td class="col-50"><a href="{% url 'project:update' article.id %}">{{article.title}}</a></td>
                      <td class="time col-25" data-datetime="{{article.timestamp}}">{{article.timestamp}}</td>
                    </tr>
                    {% empty %}
                       <h3 class="no-data">No Projects yet.</h3>
                    {% endfor %}
                  </tbody>

                </table>
                {%  include '../../pagination.html' %}
