{% extends "../../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load pipeline %}

{% block content %}
    <div class="container">
      <div class="row">
        <div class="card col-12">
      <ul class="nav-tab nav nav-pills" role="tablist">
        {% if page_name == 'profile'%}
          <li  class="nav-item"><a class="nav-link active" href="#">Profile</a></li>
        {% else %}
          <li  class="nav-item" ><a class="nav-link" href="{% url 'user:profile' %}">Profile</a></li>
        {% endif %}
          {% if user.is_authenticated %}
            {% if user.profile.type == 1 or user.profile.type == 3 %}

              {% if page_name == 'password'%}

               <li  class="nav-item"><a class="nav-link active" href="#" >Password</a></li>
               {% else %}
               <li class="nav-item" ><a class="nav-link" href="{% url 'user:password-change' %}">Password</a></li>
              {% endif %}

          {% endif %}
        {% if user.profile.type == 1 or user.profile.type == 2 %}

         {% if page_name == 'preference' %}
           <li class="nav-item" ><a class="nav-link active" href="#" >Preferences</a></li>
           <li role="presentation"  class="nav-item" ><a class="nav-link" href="{% url 'user:project-interests' %}" >Projects Interested</a></li>

         {% elif page_name == 'interest' %}
           <li class="nav-item"><a class="nav-link" href="{% url 'user:preferences' %}" >Preferences</a></li>
           <li class="nav-item" ><a class="nav-link active" href="#" >Projects Interested</a></li>

         {% else %}
         <li class="nav-item" ><a class="nav-link"href="{% url 'user:preferences' %}" >Preferences</a></li>
         <li class="nav-item" ><a class="nav-link" href="{% url 'user:project-interests' %}" >Projects Interested</a></li>
         {% endif %}
        {% endif %}
        {% endif %}


        {% if user.is_authenticated and user.profile.type == 3 %}
           {% if page_name == 'project' %}
             <li class="nav-item"><a class="nav-link active" href="#" >Projects Created</a></li>
             <li  class="nav-item" ><a class="nav-link" href="{% url 'user:interests' %}" >Student Interests</a></li>

           {% elif page_name == 'staff_interest' %}
             <li class="nav-item"><a class="nav-link" href="{% url 'user:projects' %}" >Projects Created</a></li>
             <li class="nav-item"><a class="nav-link active" href="#" >Student Interests</a></li>

            {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'user:projects' %}" >Projects Created</a></li>
            <li class="nav-item"><a  class="nav-link" href="{% url 'user:interests' %}" >Student Interests</a></li>
           {% endif %}
        {% endif %}

        {% if user.is_authenticated and user.profile.is_verified == False %}
         {% if page_name == 'resend'%}
           <li class="nav-item" ><a class="nav-link active" href="#" >Resend Activation Email</a></li>
          {% else %}
           <li class="nav-item"><a class="nav-link" href="{% url 'user:resend-activation' %}"   >Resend Activation Email</a></li>
         {% endif %}
        {% endif %}
      </ul>
      <div class="tab-pane" id="profile" style="padding:15px">
        {% if page_name == 'profile' or page_name == 'password' or page_name == 'resend'%}
           {% crispy form %}
        {% elif page_name == 'staff_interest' %}
          {% include './table.html' %}
          {% javascript 'table' %}
          <script>
            $(document).ready(function() {
                $('.table').DataTable( {
                    "bPaginate": false,
                     searching: false,
                     "bLengthChange": false,
                     'bInfo':false,
                    "order": [[ 1, "desc" ]]
                } );
            } );
            </script>

        {% elif page_name == 'preference' %}
           {% crispy form %}

          <script src="{% static 'project/js/select2.js'%}"></script>
          <script src="{% static 'project/js/django_select2.js'%}"></script>
        {% elif page_name == 'interest' %}
        {% include './table.html' %}
        {% javascript 'table' %}
        <script>
          $(document).ready(function() {
              $('.table').DataTable( {
                  "bPaginate": false,
                   searching: false,
                   "bLengthChange": false,
                   'bInfo':false,
                  "order": [[ 1, "desc" ]]
              } );
          } );
        </script>

        {% elif page_name == 'project' %}
          {% include './table.html' %}
          {% javascript 'table' %}
          <script>
            $(document).ready(function() {
                $('.table').DataTable( {
                    "bPaginate": false,
                     searching: false,
                     "bLengthChange": false,
                     'bInfo':false,
                    "order": [[ 1, "desc" ]]
                } );
            } );
          </script>

        {% endif %}

      </div>
     </div>
     </div>
    </div>


{% endblock %}
