.recommended a {
  text-decoration: underline !important;
  padding-right:5px;
}

.recommended a:hover {
   color :#fc4349 !important;
}

.fstMultipleMode .fstControls {
  width:100% !important;
}

.pj-filter-link {
  position: absolute;
  right: 25px;
  top: 0px;

}

.pj-filter-link i {
  color: #00619D;
}

.pj-filter-form form{
  background-color: #00619D!important;
  padding: 25px;
  border-radius: 10px;
  border: 1px solid #d9534f;
  margin-bottom: 25px;
  margin: 25px 0px;
  opacity: 0.8d;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}

.pj-filter-form label {
  color:white;
}
.pj-filter-form select{
  position: relative;
  left: 0px;
  top: 0px;
}

@media(min-width: 767px) {
  .pj-filter-form select{
    left: 0px;
    top: 0px;
  }
}

@media (min-width: 1200px) {
  .pj-filter-form select{
    left: 0px;
    top: 0px;
  }
}

.pj-filter-form{
   display:none;
}

.pj-filter-form.active {
   display:block !important;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #007bff!important;
    border-color: #007bff!important;
}



    nav {
      margin-bottom: 0px !important;
      position: fixed !important;
      width: 100% !important;
      margin-bottom: 50px;
      min-height: 55px !important;
      background-color: #00619D!important;
    }
    nav.user {
      background-color: #8a6d3b !important;
    }
    nav .navbar-brand {
      padding: 15px;
      font-size: 30px;
      color: white !important;
      font-weight: bold;
    }
    nav .navbar-header {
      min-height: 55px !important;
    }
    nav .nav-container .navbar-toggle {
      margin-top: 18px;
      border-color: white;
    }
    nav .nav-container .navbar-toggle .icon-bar {
      background-color: white;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      nav .nav-container {
        width: 100%;
      }
    }
    nav .nav-container #navbar a {
      font-family: "Square";
      font-size: 13px;
      color: white;
    }
    nav .nav-container #navbar .dropdown-menu {
      left: 0;
    }
    @media (min-width: 768px) {
      nav .nav-container #navbar .navbar-nav > li > a {
        padding: 15px 10px;
      }
    }

.pj-detail-h4 {
  padding-top:20px!important;
}

.pj-detail a {
  text-decoration: underline;
}

.pj-detail-h1 {
  margin-bottom:20px!important;
}

.select2-trusted{
   color:black;
}

.select2-untrusted{
   color:green;
}

#select2-id_summary-results {
  display:none;
}

.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover {
    margin: 0;
    padding: 0;
    border: none;
    box-shadow: none;
    text-align: center;
}
.kv-avatar {
    display: inline-block;
}
.kv-avatar .file-input {
    display: table-cell;
    width: 213px;
}
.kv-reqd {
    color: red;
    font-family: monospace;
    font-weight: normal;
}

thead.table-color {
  background-color: #00619D;
}
.form-area
{
    background-color: #FAFAFA;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
	}

  .nav-tabs { border-bottom: 2px solid #DDD; }
    .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
    .nav-tabs > li > a { border: none; color: #666; }
        .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #4285F4 !important; background: transparent; }
        .nav-tabs > li > a::after { content: ""; background: #4285F4; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
    .nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }
/* Footer */

footer{
   background-color: #00619D;

    height: 50px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 20px;
    margin: 0px;
    line-height: 100%;
}

.dj-register {
  border: thin solid #ccc;
   border-radius: 4px;
   padding: 20px;
   padding-left: 40px;
   background: #fbfbfb
}


.panel-item label.control-label {
  display:none;
}

.panel.panel-default  .panel-heading{
  background-color: #00619D;
  color:#fff;
}

.panel.panel-default  .panel-heading h3{
  font-weight:bold;
  font-family:"Arial";
  font-size:15px;
}

#button-id-reset {
  float:right;
}

.select.sf {
  margin-bottom:5px;
  margin-left:15px;
}

table {
  margin-bottom:50px !important;
}

.no-data {
  position:absolute;
  left:33%;
  top:50px;
}

.tab-pane {
  position:relative;
}

.kv-avatar-hint {
  text-align:left;
  color:black!important;
}

.help-block {
  text-align:left;
}
.fb-share-button.fb_iframe_widget {
  top:-5px;
}

#id_project_form #id_status {
  max-width: 100px !important;
}
