{% load crispy_forms_tags %}
{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <meta name="description" content="">
    <meta name="author" content="">
    <title> Notice-Board | {{title}} </title>
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" />

    <link rel="icon" href="../../favicon.ico">
    <!-- Bootstrap core CSS-->
    {% stylesheet 'my_app' %}
    <!--
    <link href="{% static 'project/css/index.css' %}" rel="stylesheet" />
    <link href="{% static 'project/css/ladda-themeless.min.css' %}" rel="stylesheet" />
    <link href="{% static 'project/css/panel.css' %}" rel="stylesheet" />
    -->
    <script src="{% static 'project/js/jquery.min.js' %}"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top sticky-navigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="ion-grid icon-sm"></span>
        </button>
        <a class="navbar-brand hero-heading" href="/">
          NoticeBoard
        {% if user.is_authenticated %}
         {% if user.profile.type == 3 %}
           <span style="color:gba(255, 255, 255, 0.8)"> - Staff</span>
           {% else %}
           <span style="color:rgba(255, 255, 255, 0.8)"> - Student </span>
         {% endif %}
        {% endif %}
        </a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              {% if user.is_authenticated and user.profile.type == 3%}
              <li  class="nav-item mr-3"><a class="nav-link page-scroll" href="{% url 'project:create' %}">Post Project</a></li>
              {% endif %}
              <li  class="nav-item mr-3"><a class="nav-link page-scroll" href="/project">Find Project</a></li>
              {% if user.is_authenticated%}
              <li class="nav-item mr-3"><a class="nav-link page-scroll" href="#" data-toggle="modal" data-target="#bugModal" >Report Bug</a></li>
              <li class="nav-item mr-3"><a class="nav-link page-scroll" href="/user/profile">Profile</a></li>
              <li class="nav-item mr-3"><a class="nav-link page-scroll" href="/user/logout">Logout</a></li>
              {% else %}
              <li  class="nav-item mr-3"><a class="nav-link page-scroll" href="/user/register">Register</a></li>
              <li  class="nav-item mr-3"><a class="nav-link page-scroll" href="/user/login">Login</a></li>
              {% endif %}
            </ul>
        </div>
    </nav>
    <!-- Fixed navbar-->
    <div class="notice-board" style="{% if title != 'Home' %} margin-top:100px;{% endif %}">
      {% block content %}{% endblock %}
    </div>
    {% if user.is_authenticated %}
       {% include "./modal.html" with where="./project/forms/report_bug.html"  id="bugModal" header="Please write report"%}
    {% else %}
      {% include "./modal.html" with where="./project/forms/report_bug.html"  id="bugModal" header="Please write report"%}
    {% endif %}
      {% include './footer.html' %}
  </body>


  {% javascript 'layout' %}

  {% if messages %}

          <script type="text/javascript">
            $(document).ready(function(){
              {% for message in messages %}
                  toastr.{{ message.tags }}("{{ message }}");
              {% endfor %}
             });
          </script>
  {% endif %}
</html>
