{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load social_widgets %}

{% block content %}
  <div class="container">
    <div class="col-md-8 pj-detail">
      <h1 class="col-md-12 pj-detail-h1">{{ object.title }}</h1>

      <button type="button" style="z-index:1;position:absolute;right:0;top:20px;" id="modalBtn" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Send Interest {{count}}</button>

      <div class="col-md-4">
      {% if object.image %}
        <a href="{{object.image.url}}" target="_blank">
          <img src="{{object.image.url}}" height="250" width="200"/>

        </a>
      {% else %}
      <img src="/image/ff.jpg" height="250" width="200"/>
      {% endif %}

      <h4 class="pj-detail-h4">Keywords</h4>
      {% for keyword in object.keywords.all%} {{keyword.title}} {% endfor %}
      <h4 class="pj-detail-h4">Publisher</h4>
      <a href="{% url 'user:single' object.created_by.id %}">{{object.created_by.first_name}} {{object.created_by.first_name}}</a>

      <h4 class="pj-detail-h4">Deadline</h4>
      <p>{{object.deadline}}</p>
      <h4 class="pj-detail-h4">Company</h4>
      <p>{{object.company}}</p>
      <h4 class="pj-detail-h4">Social Meida</h4>
      {% social_widget_render "facebook/share_button.html" href="" %}
      <div id="project-recommendations" class="project-recommendations">
        <h4 class="pj-detail-h4">Recommendations</h4>
      </div>
    </div>
    <div class="col-md-8">

      <h4 style="" class="pj-detail-h4">Description</h4>
      <p>
         {{object.summary}}
      </p>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    {% include "./recommendations.html" %}
    {% crispy form %}
  </div>

  <input type="hidden" name="id" value="{{object.id}}"/>
  {% include "../modal.html" with where="./project/forms/interest.html"  id="myModal" header="Are you sure you are interested in this project "%}
  </div>
  <script src="{% static 'project/js/select2.js'%}"></script>

  <script src="{% static 'project/js/filter_django_select2.js'%}"></script>

  <script src="{% static 'project/js/recommendations.js'%}"></script>
  <script src="{% static 'project/js/panel.js' %}"></script>
  <script src="{% static 'project/js/detail.js'%}"></script>

{% endblock %}
