{% load crispy_forms_field %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
    {% if field|is_checkbox %}
        <div class="form-group">
        {% if label_class %}
            <div class="controls {% for offset in bootstrap_checkbox_offsets %}{{ offset }} {% endfor %}{{ field_class }}">

        {% endif %}
    {% endif %}
    <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" {% if not field|is_checkbox %}class="form-group{% else %}class="checkbox{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if form_show_errors%}{% if field.errors %} has-error{% endif %}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label and not field|is_checkbox and form_show_labels %}
            <label for="{{ field.id_for_label }}" class="control-label {{ label_class }}{% if field.field.required %} requiredField{% endif %}">
                {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}


            </label>
            <select name="strict_{{ field.id_for_label }}" id="strict_{{ field.id_for_label }}" class="select sf">
               {% if field.id_for_label == "id_keywords" %}
                <option value="0" {% if strict_id_keywords %}selected=""{% endif %}>AND</option>
                <option value="1" {% if not strict_id_keywords %}selected=""{% endif %}>OR</option>
               {% else %}
               <option value="0" data-hello="{{strict_id_summary}}" {% if strict_id_summary %}selected=""{% endif %}>AND</option>
               <option value="1" {% if not strict_id_summary %}selected=""{% endif %}>OR</option>
               {% endif %}
              </select>
        {% endif %}

        {% if not field|is_checkboxselectmultiple and not field|is_radioselect %}

            {% if field|is_checkbox and form_show_labels %}
                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} requiredField{% endif %}">
                    {% crispy_field field %}
                    {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}


                </label>
                {% if help_text_inline and not error_text_inline %}
                {% if field.help_text %}
                {% if help_text_inline %}
                    <span id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</span>
                {% else %}
                    <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>
                {% endif %}
                {% endif %}
                {% endif %}

                {% if error_text_inline %}

                {% if form_show_errors and field.errors %}
                {% for error in field.errors %}
                    <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
                {% endfor %}
                {% endif %}
                {% else %}

                {% if form_show_errors and field.errors %}
                  {% for error in field.errors %}
                      <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
                  {% endfor %}
                {% endif %}
                {% endif %}

                {% if not help_text_inline %}
                {% if field.help_text %}
                    {% if help_text_inline %}
                        <span id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</span>
                    {% else %}
                        <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>
                    {% endif %}
                {% endif %}{% endif %}
            {% else %}
                <div class="controls bye {{ field_class }}">

                    {% crispy_field field %}
                    {% if help_text_inline and not error_text_inline %}
                    {% if field.help_text %}
                    {% if help_text_inline %}
                        <span id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</span>
                    {% else %}
                        <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>
                    {% endif %}
                    {% endif %}
                    {% endif %}

                    {% if error_text_inline %}

                    {% if form_show_errors and field.errors %}
                    {% for error in field.errors %}
                        <span id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></span>
                    {% endfor %}
                    {% endif %}
                    {% else %}

                    {% if form_show_errors and field.errors %}
                      {% for error in field.errors %}
                          <p id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="help-block"><strong>{{ error }}</strong></p>
                      {% endfor %}
                    {% endif %}
                    {% endif %}

                    {% if not help_text_inline %}
                    {% if field.help_text %}
                        {% if help_text_inline %}
                            <span id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</span>
                        {% else %}
                            <p id="hint_{{ field.auto_id }}" class="help-block">{{ field.help_text|safe }}</p>
                        {% endif %}
                    {% endif %}{% endif %}
                </div>
            {% endif %}
        {% endif %}
    </{% if tag %}{{ tag }}{% else %}div{% endif %}>
    {% if field|is_checkbox %}
        {% if label_class %}
            </div>
        {% endif %}
        </div>
    {% endif %}
{% endif %}
