{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load pipeline %}

{% block content %}
    <div class="container">
      <div class="col-sm-9"><strong style="color:#00619D">Projects List</strong>
        <table id="table" class="table table-bordered table-sm table-striped">
          <thead style=" color:white" class="table-color thead-inverse">
            <tr>
              <th class="col-md-6">Name</th>
              <th class="col-md-4">Posted By</th>
              <th class="col-md-2">Posted At</th>
            </tr>
          </thead>
          <tbody>

            {% for article in object_list %}
            <tr>
              <td class="col-md-6"><a href="{% url 'project:single' article.slug %}">{{article.title}}</a></td>
              <td class="col-md-4"><a href="{% url 'user:single' article.created_by.id %}">{{article.created_by.first_name}} {{article.created_by.last_name}}</a> </td>
              <td class="time col-md-3" data-datetime="{{article.timestamp}}">{{article.timestamp|date:"d M Y"  }}</td>
            </tr>
            {% empty %}
                <h3 class="no-data">No Projects yet.</h3>
            {% endfor %}
          </tbody>

        </table>
        {%  include '../pagination.html' %}
      </div>
      <div class="col-sm-3">
        {% include "./recommendations.html" %}
        {% crispy filter.form filter.form.helper %}

      </div>
    </div>

    {% javascript 'index' %}

    <!--
    <script src="{% static 'project/js/select2.js'%}"></script>
    <script src="{% static 'project/js/recommendations.js'%}"></script>
    <script src="{% static 'project/js/filter_django_select2.js'%}"></script>
    <script src="{% static 'project/js/panel.js' %}"></script>
  -->
{% endblock %}
