{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load pipeline %}

{% block content %}
    <!--
    <div class="container">
      <div class="col-sm-9"><strong style="color:#00619D">Projects List</strong>
        <table id="table" class="table table-bordered table-sm table-striped">
          <thead style=" color:white" class="table-color thead-inverse">
            <tr>
              <th class="col-md-6">Name</th>
              <th class="col-md-4">Posted By</th>
              <th class="col-md-2">Posted At</th>
            </tr>
          </thead>
          <tbody>

            {% for article in object_list %}
            <tr>
              <td class="col-md-6"><a href="{% url 'project:single' article.slug %}">{{article.title}}</a></td>
              <td class="col-md-4"><a href="{% url 'user:single' article.created_by.id %}">{{article.created_by.first_name}} {{article.created_by.last_name}}</a> </td>
              <td class="time col-md-3" data-datetime="{{article.timestamp}}">{{article.timestamp|date:"d M Y"  }}</td>
            </tr>
            {% empty %}
                <h3 class="no-data">No Projects yet.</h3>
            {% endfor %}
          </tbody>

        </table>\
      -->
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-9">

    <section class="notice-section ">
      {% for article in object_list %}

    <article class="search-result" style="padding: 0px 10px 0px 25px;">
      <div class="article-inner row" style="display:flex;width:100%;padding: 15px 0px;border-bottom: 1px solid #DEDEDE;">

			<div class="col-xs-12 col-sm-9 col-md-9 excerpet">
				<h3><a class="title" href="{% url 'project:single' article.slug %}" title="">{{article.title}}</a></h3>
          <p>{{article.summary | slice:":255"}}</p>
                <span class="plus"><a href="#" title="Lorem ipsum"><i class="glyphicon glyphicon-plus"></i></a></span>
         {% for keyword in article.keywords.active%} <a href="/project/?keywords={{keyword.id}}"> {{keyword.title}} </a> {% endfor %}
      </div>

      <div class="col-12  col-md-3" >
          <span> <i class="ion-ios-alarm pull-left"></i> <span style="padding-left:25px;">{{article.deadline}}</span></span>
          <a class="btn btn-primary" href="{% url 'project:single' article.slug %}">Read More</a>
      </div>
    </div>
		</article>
    {% empty %}
        <h3 class="no-data">No Projects yet.</h3>
    {% endfor %}


	</section>
  {%  include '../pagination.html' %}

</div>
  <div class="col-12 col-lg-3 ">
    {% include "./recommendations.html" %}
    {% crispy filter.form filter.form.helper %}

  </div>
 </div>
</div>


    {% javascript 'index' %}

    <!--
    <script src="{% static 'project/js/select2.js'%}"></script>
    <script src="{% static 'project/js/recommendations.js'%}"></script>
    <script src="{% static 'project/js/filter_django_select2.js'%}"></script>
    <script src="{% static 'project/js/panel.js' %}"></script>
  -->
{% endblock %}
