{% load crispy_forms_tags %}

<!-- Modal -->
<div id="{{id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{header}}</h4>
      </div>
      <div class="modal-body">
        {{body}}
        {% include where %}
      </div>
      <div class="modal-footer">
        <button name="submit" class="btn btn-primary ladda-button" type="button" data-style="expand-right" class="btn btn-default" >Submit</button>
        <button type="button" class="btn btn-default "  data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
