{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
      <h2>{{first_name}} {{last_name}}</h2>
      <br />
      {% if avatar %}

      <img src="{{avatar.url}}" height="250" width="200" style="margin-bottom:25px;"/>
      {% endif %}
      <br />

      <div class="row" id="profile">
             <div class="col-lg-8">

                <table id="table" class="table table-bordered  table-striped">
                  <thead style="color:white" class="table-color thead-inverse">
                    <tr>
                      <th class="w-75">Project Title</th>
                      <th class="w-25">Posted At</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for article in object_list %}
                    <tr>
                      <td class="w-75"><a href="{% url 'project:single' article.slug %}">{{article.title}}</a></td>
                      <td class="w-25" data-datetime="{{article.timestamp}}">{{article.timestamp|date:"d M Y"  }}</td>
                    </tr>
                    {% empty %}
                      <h3 class="no-data">No Projects yet.</h3>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
              <div class="col-lg-3 offset-lg-1">
                {% include "../project/recommendations.html" %}
                {% crispy filterForm %}
              </div>
                {%  include '../pagination.html' %}
     </div>
    </div>


{% endblock %}
