{% extends "../layout.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="container">
      <div class="tab-pane" id="profile">
           <h2>{{first_name}} {{last_name}}</h2>
             <div class="col-md-8 pj-detail">

                <table class="table table-bordered table-sm table-striped">
                  <thead style="color:white" class="table-color thead-inverse">
                    <tr>
                      <th class="col-md-6">Project Title</th>
                      <th class="col-md-2">Posted At</th>
                    </tr>
                  </thead>

                  <tbody>

                    {% for article in object_list %}
                    <tr>
                      <td class="col-md-6"><a href="{% url 'project:single' article.slug %}">{{article.title}}</a></td>
                      <td class="time col-md-3" data-datetime="{{article.timestamp}}">{{article.timestamp|date:"d M Y"  }}</td>
                    </tr>
                    {% empty %}
                      <h3 class="no-data">No Projects yet.</h3>
                    {% endfor %}
                  </tbody>

                </table>
              </div>
              <div class="col-md-3 col-md-offset-1">
                {% include "../project/recommendations.html" %}
                {% crispy filterForm %}
              </div>
                {%  include '../pagination.html' %}
     </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'project/js/select2.js'%}"></script>
    <script src="{% static 'project/js/filter_django_select2.js'%}"></script>
    <script src="{% static 'project/js/panel.js' %}"></script>
{% endblock %}
